.about {
  background-color: $color-green;
  color: $font-color;
}
.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-bold;
}
.about span {
  display: inline-block;
}
.about p {
  padding: 12px;
  text-align: left;
}
.about button {
  color: $font-color;
  border: 1px solid $font-color;
}
.about a {
  text-align: center;
}
.about .someDIv {
  padding: 30px 5px;
  margin-bottom: 25px;
  text-align: center;
}
.about span.dash {
  width: 70px;
  display: inline-block;
  border: 2px solid $font-color;
  margin-bottom: 2px;
}
@media (min-width: 992px) {
  .about p {
    width: 50%;
  }
}
